fastapi==0.78.0
# СУБД
SQLAlchemy~=1.4.36
SQLAlchemy-Utils
psycopg2-binary==2.9.3

# Валидация/менеджер настроек
pydantic==1.9.1

# Инструмент для миграций
alembic==1.7.7

# Логгирование
Loguru==0.6.0

# Тестирование
PyTest==7.1.2
starlette~=0.20.0
uvicorn

# asgiref-3.5.2
# certifi-2021.10.8
# charset-normalizer-2.0.12
# dnspython-2.2.1
# email_validator-1.2.1
# h11-0.13.0
# httptools-0.4.0
# orjson-3.6.8
# python-dotenv-0.20.0
# python-multipart-0.0.5
# pyyaml-6.0
# requests-2.27.1
# ujson-5.2.0
# urllib3-1.26.9
# uvicorn-0.17.6
# uvloop-0.16.0
# watchgod-0.8.2
# websockets-10.3