# Веб-фреймворк
Flask==2.1.2
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
flask_restx==0.5.1

# СУБД
SQLAlchemy~=1.4.36
SQLAlchemy-Utils
psycopg2-binary==2.9.3

# Валидация/менеджер настроек
pydantic==1.9.0

# Инструмент для миграций
alembic==1.7.7

# Логгирование
Loguru==0.6.0

# Тестирование
PyTest==7.1.2
starlette~=0.20.0